<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.example.cordovapluginpractice"
    version="0.0.1" >
    
    <name>CordovaPluginPractice</name>
    <description>Simple Cordova plug-in practice</description>
    
    <js-module src="www/cordova_plugin_practice.js" name="cordova_plugin_practice">
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaPluginPractice">
                <param 
                    name="android-package" 
                    value="com.example.cordovapluginpractice"/>
            </feature>
        </config-file>
 
        <source-file src="src/com.example.cordovapluginpractice/CustomPlugin.java" target-dir="src/com/example/cordovapluginpractice" />      
     </platform>          
    
</plugin>